.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.child {
  max-width: 600px; /* Adjust max-width as needed */
  width: 100%;
  padding: 20px;
  background-color: #f0f2f5; /* Light background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.imgDiv {
  text-align: center;
  margin-bottom: 20px;
}

.profile {
  max-width: 100%;
  max-height: 200px; /* Adjust max-height as needed */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Light shadow for the image */
}

.profile-badge {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-label {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

nz-form {
  margin-top: 20px;
}

.login-form-button {
  width: 100%;
}

.login-form-margin {
  margin-top: 20px;
}
