// styles.scss or your component's SCSS file

.main-header {
  background-color: #001529; // Dark blue background
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
  .navbar-tittle {
    font-size: 1.5rem;
    font-weight: bold;
    
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #1890ff; // Lighter blue for hover effect
      }
    }
  }
  
  .nav-links {
    a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s;

      &:hover {
        color: #1890ff; // Lighter blue for hover effect
      }
      
      &.active {
        color: #1890ff;
        font-weight: bold;
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;

    .navbar-tittle {
      margin-bottom: 10px;
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      a {
        margin: 5px 0;
      }
    }
  }
}
