<div style="background-color: antiquewhite; padding: 20px;">
  <div class="car-list" *ngFor="let car of cars">
    <div nz-row class="car-item">
      <div nz-col nzSpan="8">
        <img class="car-image" [src]="car.processedImg" alt="profile" />
      </div>
      <div nz-col nzSpan="16">
        <h2 class="car-title">{{car.brand}} - {{car.name}}</h2>
        <p class="car-description">{{car.description}}</p>
        <hr>
        <h5 class="car-details">
          Price: <b>${{car.price}}</b> - Transmission: <b>{{car.transmission}}</b> - Type: <b>{{car.type}}</b> - Year: <b>{{car.year | date: 'yyyy'}}</b>
        </h5>
        <hr>
        <div class="car-actions">
          <button nzSize="small" nz-button nzType="primary" routerLink="/customer/book/{{car.id}}">Book</button>
        </div>
      </div>
    </div>
  </div>
</div>
